- var link = 'web-worker'
- var title = 'Web Worker 調用 API，減輕主執行緒負擔'
- var description = 'Web Worker 調用 API，減輕主執行緒負擔'

<!DOCTYPE html>
html(lang="zh-Hant")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - August - Let's Write

    link(rel="canonical", href=`https://www.letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    //- meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - Augustus - Let's Write`)
    meta(itemprop="name", content=`${title} - Augustus - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.png`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.png`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    //- css
    script(src="https://cdn.tailwindcss.com")
    script.
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              main: '#42A6F7',
              mainHover: '#167FFF'
            }
          }
        }
      }
    link(rel="stylesheet", href="dist/style.min.css")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
  body.bg-neutral-800.text-white

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    #app.container.mx-auto.p-8

      #loader.fixed.z-50.flex.items-center.justify-center.bg-neutral-800.bg-opacity-70.inset-0.hidden
        .loader

      .text-center
        h1.mb-4.font-bold.text-4xl=title
        //- p 筆記文：
          a(class="text-main hover:text-mainHover", href=`https://www.letswrite.tw/${link}/`) Let's Write
      
      hr.my-8.mx-auto.max-w-3xl.border-t.border-gray-500.border-dashed

      .max-w-3xl.mx-auto.gap-8(class="sm:grid grid-cols-2")
        div(class="mb-12 sm:mb-0")
          .mb-8
            label.block.mb-2(for="title") Title
            input#title(class="p-2 w-full rounded-md text-neutral-800", type="text", placeholder="請輸入標題")
          .mb-8
            label.block.mb-2(for="content") Content
            input#content(class="p-2 w-full rounded-md text-neutral-800", type="text", placeholder="請輸入內文")

          .text-center
            button#send(type="button", class="inline-flex px-4 py-2 bg-main rounded-md hover:bg-mainHover") 調用 API
        textarea#result(class="p-4 w-full rounded-md text-neutral-800", cols="30", rows="10")
      
      hr.my-8.mx-auto.max-w-3xl.border-t.border-gray-500.border-dashed

    script(src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.6/purify.min.js")
    script(src="dist/main.min.js")
